[Unit]
Description=My Java Application
After=network.target

[Service]
User=ubuntu
Environment="SPRING_PROFILES_ACTIVE=prod"
ExecStart=/usr/bin/java -jar /opt/my-java-app/my-java-app.jar
Restart=always
WorkingDirectory=/opt/my-java-app

[Install]
WantedBy=multi-user.target
